<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog :: Pagrindinis</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
    <h1>Pirmas Blog'as Projektas</h1>
    <hr />
    <ul>
        <li><a th:href="@{/posts/new}">Naujas Įrašas</a></li>
    </ul>
    <div class="posts-container">
        <div class="post" th:each="post : ${posts}">
            <h2><a th:href="@{'/posts/' + ${post.id}}" th:text="${post.title}">Pavadinimas</a></h2>
            <h5 th:text="'Written by ' + ${post.account.firstName}">Savininko Vardas</h5>
            <h5 th:text="'Published at ' + ${post.createdAt}">Sukurta</h5>
            <h5 th:text="'Updated at ' + ${post.updatedAt}">Redaguota</h5>
            <p th:text="${post.body}">tekstas</p>
            <br>
        </div>
    </div>
    <hr />
    <ul sec:authorize="!isAuthenticated()">
        <li><a th:href="@{/register}">Registracija</a></li>
        <li><a th:href="@{/login}">Prisijungimas</a></li>
    </ul>
    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}"
              method="POST">
            <div>
                <label>Sveiki, <span sec:authentication="name">Username</span></label>
            </div>
            <button type="submit">Atsijungti</button>
        </form>
    </div>

</div>

</body>
</html>